swagger: '2.0'
info:
  title: HelloWorldAPI
  version: '1.0'
  description: Returns welcome messages to the world
schemes:
  - https
host: circleoftrust.internet-box.ch
basePath: /api/hello/1.0

definitions:
  employee:
    type: object
    required:
      - name
      - employeeId
    properties:
      name:
        type: string
        example: Luca
      surname:
        type: string
        example: Strozzi
      employeeId:
        type: string
        example: 1111

responses:
  Success200Response:
    description: Success response.
    schema:
      type: object
      properties:
        body:
          type: string
    examples:
      application/json:
        message: 'Hello world Luca !!!'
        
  ServerError500Response:
    description: Internal Server Error.
    schema:
      type: object
      properties:
        message:
          type: string
    examples:
      application/json:
        TechnicalFault:
          errorCode: '999999'
          errorMessage: Technical Error Message
          instruction: This is the instructions
          description: A detailed description of the issue
          
  BadRequest400Response:
    description: Bad Request
    schema:
      type: object
      properties:
        message:
          type: string
    examples:
      application/json:
        ValidationFault:
          errorCode: '999999'
          errorMessage: This is the error message
          instruction: This is the instructions
          
  Unauthorized401Response:
    description: Unauthorized
    schema:
      type: object
      properties:
        message:
          type: string
    examples:
      application/json:
        SecurityFault:
          errorCode: '99999'
          errorMessage: This is the error message
          description: This is the error description
          
  Business456Response:
    description: Business Error
    schema:
      type: object
      properties:
        message:
          type: string
    examples:
      application/json:
        BusinessFault:
          errorCode: '999999'
          errorMessage: this is the error message
          
paths:
  /message:
    post:
      summary: This endpoint returns the a welcome message
      description: This endpoint returns the a welcome message
      operationId: helloWorldProxy
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Get welcome message
      parameters:
      - name: body
        in: body
        description: The status to update
        schema:
          $ref: '#/definitions/employee'

      responses:
        '200':
          description: Succesfull update but no response body
        '400':
          $ref: '#/responses/BadRequest400Response'
        '401':
          $ref: '#/responses/Unauthorized401Response'
        '404':
          description: No document with this id and/or revision could be found
        '456':
          $ref: '#/responses/Business456Response'
        '500':
          $ref: '#/responses/ServerError500Response'
